.background_color {
    background-color: darkgray;
}

#first_benefit {
    color: red;
}

#second_benefit {
    color: green;
}

#third_benefit {
    color: blue;
}

.odd {
    color: orange;
}

.even {
    color: cyan;
}